<%= stylesheet_link_tag 'new', :media => "all" %> 
<h2>ログイン</h2>
<p>※登録したメールアドレスとパスワードを入力してください。</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
      <div>Log<span>In</span></div>
    </div>
    <br>
    <div class="login">
      
 
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"btn" %>
    


        <div class="field">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <h3>パスワードの保存</h3>
        </div>
      <% end -%>
      
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
    </div> 
<% end %>

<%= render "users/shared/links" %>
