<h3>Tweet一覧</h3>

<h3>投稿を検索</h3>
<%= form_tag tweets_path, method: :get, class: 'boards__searchForm' do %>
  <%= select_tag :tag_id,
                 options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                 {
                   prompt: 'タグで絞り込み検索',
                   onchange: 'submit(this.form);'
                 }
  %>
<% end %>

 <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
  <% end %>



<div class="tweets-container">
  <% @tweets.each do |t| %>

   <div class="tweet"> 
      <%= t.user.car_lovers %>
      
     <%= image_tag t.image_url, size: "250x200" if t.image? %>
     <%= t.body %>

     

     <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
              <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
              <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% end %>
     <% else %>
        <i class="fas fa-heart"></i><%= t.likes.count %>
     <% end %>

     <div class="left-container"><%= t.body %></div>

     <%= t.created_at %>

     <%= link_to "詳細へ", tweet_path(t.id) %>
    
     <div class="bottom-item">
       <a href="/tweets/<%= t.id %>"><i class="fa fa-comment regular"></i></a>
     </div>
     <% if user_signed_in? && current_user.id == t.user_id %>
        <%= link_to "編集する", edit_tweet_path(t.id) %>
        <%= button_to "削除する", tweet_path(t.id), method: :delete %>
     <% end %>
  </div>

    

        <p class="time"><%= t.created_at %></p>
    
   

  

    <% t.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  <% end %>
</div>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>


