<%= stylesheet_link_tag 'newtweet', :media => "all" %>


<div class="wrapper">
  <h1>新規Tweet</h1>
</div>

<div class="wrapper2">
    <div class="index-tweet">
    <%= form_for @tweet do |f| %>

      <div class="wrapper1">
        <h2>タイトル</h2>
      </div>
      <div class="field1">
        <%= f.text_field :title, :size => 140 %>
      </div>
      
      <div class="wrapper1">
        <h2>ツイート内容</h2>
      </div>
      <div class="field1">
        <%= f.text_field :body, :size => 140 %>
      </div>

      <div class="check_box">
        <span>タグ</span>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div>
          <%= tag.label do %>
            <%= tag.check_box %>
            <%= tag.text %>
          <% end %>
        </div>
      <% end %>
      </div>


      <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>

    

      <%= f.submit "Tweetする" %>
    <% end %>
    <%= link_to "Tweet一覧に戻る", tweets_path %>


    </div>

</div>

